/*
 *
 * GLOBAL
 *
 */

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/psy_geo.jpg');
    font-family: 'Coda', cursive;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


/*
 *
 * OVERLAY
 *
 */

#overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  cursor: pointer;
}

#overlay_text{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 3em;
  color: white;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

/*
 *
 * HEADER
 *
 */
 h1 {
   font-family: 'Akronim', cursive;
   font-size: 2em;
   font-weight: lighter;
   background-color: white;
   border-radius: 10px;
   box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
   opacity: 0.7;
   margin: 0.2em;
   text-align: center;
 }

#subtitle {
  font-family: 'Akronim', cursive;
  font-size: 1.5em;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  margin: 0;
  border-radius: 10px;
  text-align: center;
}

/*
 *
 * RESULTS
 *
 */

#results {
  background: #ffffff url('../img/triangle.gif');
  background-repeat: no-repeat;
  background-position:center;
  text-align: center;
  width: 100%;
  border: 10px solid #938884;
  border-radius: 10px;
  box-shadow: 0 0 30px #231f1c;
  margin:2em 2em 100em 2em;
  font-family: 'Coda', cursive;
  font-size: 1.5em;
}

#reload {
  font-family: 'Coda', cursive;
  cursor: pointer;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  font-size: 1em;
  padding: 0.1em;
  border-radius: 10px;
  position:absolute;
  text-align: center;
}

.hide {
  display: none;
}

.show{
  display: show;
}

/*
*
* SCORE PANEL
*
*/

.score-panel {
  text-align: center;
  padding: 0;
  margin: 0 0 1em 0;
}

.score-panel .stars {
  display: inline-block;
}

.score-panel .stars li {
  list-style: none;
  display: inline-block;
}
.score-panel ul{
  padding: 0;
}

.stars > i {
  padding: 0.3em;
  color:#02ccba;
  font-size:2em;
}

.moves {
  white-space:nowrap;
  text-align: center;
  background-color: white;
  font-size:1.5em;
  border-radius: 10px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  opacity: 0.7;
}

.score-panel p{
  white-space:nowrap;
  display: inline-block;
  margin: 0 1em;
  font-size: 1em;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  border-radius: 10px;
}

.score-panel .reset{
  font-family: 'Coda', cursive;
  white-space:nowrap;
  cursor: pointer;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  font-size: 1em;
  padding: 0.1em;
  border-radius: 10px;
}

.score-panel .timer{
  font-family: 'Coda', cursive;
  white-space:nowrap;
  cursor: pointer;
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  font-size: 1em;
  padding: 0.1em;
  margin: 0 0 0 1em;
  border-radius: 10px;
}

/*
*
* DECK
*
*/

.deck {
  background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
  padding: 32px;
  border-radius: 20px;
  box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 3em;
}

.deck .card {
  background: #2e3d49;
  font-size: 0;
  color: #ffffff;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.deck .match {
  background: #02ccba;
  animation: pulse 1s;
}

.deck img {
  border-radius: 8px;
  border-width: 10px;
  border-style: double;
  visibility: hidden;
}

.flip img {
  background: #fff;
  cursor: default;
  transform: rotateY(180deg);
  transition: transform 0.3s linear;
  pointer-events: none;
  visibility: visible;
}

.deck .card.flip {
  pointer-events: none;
}

/*
*
* ANIMATIONS
*
*/

@keyframes pulse {
  0% {
  transform: scale(1);
}
  40% {
  transform: scale(1.4);
}
  80% {
  transform: scale(0.8);
}
  100% {
  transform: scale(1);
}
}

/*
*
* AUDIO
*
*/

audio {
  color: #fff;
  display: block;
  text-shadow: 1px 1px 0 #000;
  border: 1px solid #222;
  margin: auto;
}

/*
*
* RESPONSIVE
*
*/

@media screen and (max-width: 389px) {
  .deck {
    width: 300px;
    height: 300px;
    padding: 10px;
  }

  .card {
    width: 60px;
    height: 60px;
  }

  .deck img {
    height: 55px;
    width: 55px;
}
#overlay_text{
  font-size: 1.5em;
  top: 40%;
}

#results {
font-size: 1em;
height: 400px;
}

#reload {
top:55%;
left:40%;
}
}

@media screen and (min-width: 390px) {
  .deck {
    width: 400px;
    height: 400px;
    padding: 20px;
  }

  .card {
    width: 75px;
    height: 75px;
  }

  .deck img {
    height: 70px;
    width: 70px;
}

#overlay_text{
  font-size: 1.5em;
}

#results {
font-size: 1.2em;
height: 500px;
}
#reload {
top:60%;
left:35%;
}
}

@media screen and (min-width: 550px) {
  .deck {
    width: 500px;
    height: 500px;
    padding: 30px;
  }

  .card {
    width: 95px;
    height: 95px;
  }

  .deck img {
    height: 85px;
    width: 85px;
}
#overlay_text{
  font-size: 2.5em;
  top: 40%;
}
#results {
font-size: 1.5em;
height: 600px;
}
#reload {
top:65%;
left:40%;
}
}

@media screen and (min-width: 800px) {
  .deck {
    width: 650px;
    height: 650px;
    padding: 30px;
  }

  .card {
    width: 120px;
    height: 120px;
  }

  .deck img {
    height: 110px;
    width: 110px;
}
#overlay_text{
  font-size: 2.5em;
  top: 40%;
}
#results {
font-size: 2em;
height: 800px;
}
#reload {
top:85%;
left:40%;
}
}
